{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
</head>
<body>
<!-- Header Section -->
<header>
    <nav>
        <div class="logo">Auto Dealership</div>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Vehicles</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>

{% block hero %}
<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
        <h1>Find Your Dream Car</h1>
        <p>Explore our wide range of vehicles and special offers.</p>
        <a href="#" class="btn">View Inventory</a>
    </div>
</section>
{% endblock hero %}

<!-- Featured Vehicles -->

{% block main %}
{% endblock main %}

<!-- Footer -->
<footer>
    <p>&copy; 2024 Auto Dealership. All Rights Reserved.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
        AOS.init();



</script>
</body>
</html>
